
    
<div class="banner-section-outer position-relative">
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light ml-0">
                <a class="navbar-brand" href="/"><figure class="mb-0"><img src="/assets-u/image/cyenosure1.png" alt="" class="img-fluid" style="height: 55px; width:170px;"></figure></a>
                <button class="navbar-toggler collapsed " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/" style="font-size: 20px;">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about"  style="font-size: 20px;">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/services"  style="font-size: 20px;">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Projects"  style="font-size: 20px;">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Blogs"  style="font-size: 20px;">Blogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/products"  style="font-size: 20px;">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Contacts"  style="font-size: 20px;">Contact</a>
                        </li>
                        <li class="social-icons1">
                            <div class="d-inline-block nav-link" style="color: #fff;">
                              <a href="tel:919742039353"><p style="color: rgb(100, 230, 191);">Email:info@cyenosure.com</p></a>
                      </div>
                  </li>
                        <li class="social-icons1">
                                  <div class="d-inline-block nav-link">
                                    <a href="tel:919742039353"><p style="color: rgb(100, 230, 191);">+919742039353</p></a>
                            </div>
                        </li>
                        <div class="social-icons">
                            <li class="live_icons hover-effect" ><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(100, 230, 191)" class="bi bi-whatsapp" viewBox="0 0 16 16">
                              <path d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z"/>
                            </svg></a></li>
                            <li class="live_icons hover-effect" ><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(100, 230, 191)" class="bi bi-instagram" viewBox="0 0 16 16">
                              <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"/>
                            </svg></a></li>
                            <li class="live_icons hover-effect" ><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(100, 230, 191)" class="bi bi-facebook" viewBox="0 0 16 16">
                              <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                            </svg></a></li>
                        </div>
                    <!-- -->
                </div>
            </nav>
        </div>
    </header>
    <!-- BANNER SECTION -->
    <section class="banner-section position-relative">

        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="banner-section-content text-center">
                       
                        <h1 data-aos="fade-up">CYENOSURE</h1>
                        <h6>Creative Application Development company</h6>
                        <!-- <p class="text-white" data-aos="ade-right">Technology is Best When It Brings People Together</p> -->
                        <div class="btn_wrapper" data-aos="fade-up">
                         <!-- <a class="text-decoration-none default-btn hover-effect contactus_btn" href="/contacts">Contact Us<i class="fa-thin fa-arrow-right-long"></i></a> -->
                            <!-- <a class="text-decoration-nonfe default-btn hover-effect readmore_btn" href="/about">Read More<i class="fa-thin fa-arrow-right-long"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
       
         
         
        
            <a href="#footer_section" class="top-btn">
                <figure class="mb-0 position-absolute">
                    <img src="/assets-u/images/scroll_down_image.png" alt="" class="img-fluid">
                </figure>
            </a>
        </div>
    </section>
</div>
<!-- ABOUT US SECTION -->
<section class="aboutus_section position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="about_images">
                    <figure class="mb-0 about_img position-relative">
                        <img src="/assets-u/image/image2.avif" alt="" class="img-fluid">
                    </figure>
                    <figure class="mb-0 shape1 position-absolute">
                        <img src="/assets-u/images/aboutus_image_shape1.jpg" alt="" class="img-fluid">
                    </figure>
                    <figure class="mb-0 shape2 position-absolute shape_2">
                        <img src="/assets-u/images/aboutus_image_shape2.png" alt="" class="img-fluid">
                    </figure>
                    <div class="aboutus_img_box position-absolute">
                        <figure>
                            <img src="/assets-u/images/aboutus_box_shape.png" alt="" class="img-fluid">
                        </figure>
                        <div class="span_wrapper">
                            <span class="number counter">30</span>
                            <span class="plus">+</span>
                        </div>
                        <p class="text-size-16 mb-0">Years of Experience</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 d-flex align-items-center">
                <div class="heading" data-aos="fade-right">
                    <div class="line_wrapper position-relative">
                        <h6>About Us</h6>
                        <h2>Creative Digital Experience Company</h2>
                        <figure class="mb-0 position-absolute">
                            <img src="/assets-u/images/red_line.png" alt="" class="img-fluid">
                        </figure>
                    </div>
                    <p class="text-size-16">Cyenosure is one of the fastest-growing website development companies in Kochi. 
                        As leading website designers in Cochin, we systematically approach all projects. Our website design 
                        strategy includes professional web designing along with flawless coding.</p>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fa-solid fa-check"></i>
                            <p>Create a Plan</p>
                        </li>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            <p>Start Working</p>
                        </li>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            <p>Publish Business</p>
                        </li>
                    </ul>
                    <div class="btn_wrapper">
                        <a class="text-decoration-none default-btn hover-effect readmore_btn" href="/about">Read More<i class="fa-thin fa-arrow-right-long"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <figure class="mb-0 left_shape position-absolute shape">
            <img src="/assets-u/images/about_left_shape.png" alt="" class="img-fluid">
        </figure>
        <figure class="mb-0 right_shape position-absolute shape_2">
            <img src="/assets-u/images/about_right_shape.png" alt="" class="img-fluid">
        </figure>
    </div>
</section>
<!-- OUR SERVICES SECTION -->
<section class="our_services_section">
    <div class="container-fluid">
        
        <div class="row" data-aos="fade-up">
            <div class="col-lg-3 col-md-12 col-sm-12 col-12 d-lg-block d-none">
                <div class="image_box mb-0 position-relative">
                    <div class="image_box_content">
                        <h6 class="text-white">What we do</h6>
                        <h2 class="text-white">Services We Deliver
                            All Kinds of IT Solutions Services</h2>
                        <!-- <figure class="mb-0 position-absolute">
                            <img src="/assets-u/images/white_line.png" alt="" class="img-fluid">
                        </figure> -->
                        <div class="btn_wrapper">
                            <a class="text-decoration-none default-btn hover-effect readmore_btn" href="/services">Get Started<i class="fa-thin fa-arrow-right-long"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="owl-carousel owl-theme">
                    <% if (servicedata) { %>
                        <% for (let i = 0; i < servicedata.length; i++) { %>
                            <% let currentdata = servicedata[i]; %>
                    <div class="item">
                        <div class="box mt-0" style="width: 250px; height: 450px;">
                                <img src="<%= currentdata.image %>" alt="" style="width: 100%; height: 50%;">
                           
                            <h4><%= currentdata.title %></h4>
                            <p class="text-size-16"><%= currentdata.description.slice(0, 90) %>....</p>
                            <div class="btn_wrapper">
                                <a class="text-decoration-none" href="/services">Read More<i class="fa-thin fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>
                   <%}%>
                   <%}%>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- OUR STATISTICS SECTION -->
<section class="our_statistics_section position-relative overflow-hidden">
    
</section>
<!-- OUR Project SECTION -->
<section class="our_portfolio_section position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="heading position-relative text-center">
                    <h6>Our Portfolio</h6>
                    <h2 class="text-white">Check Our Amazing Work We Have Done</h2>
                    <figure class="mb-0 position-absolute">
                        <img src="/assets-u/images/white_line.png" alt="" class="img-fluid">
                    </figure>
                </div>
            </div>
        </div>
        <div class="row" data-aos="fade-up">
            <% if (projectdata && projectdata.length > 0) { %>
              <% for (let i = 0; i < Math.min(projectdata.length, 3); i++) { %>
                <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                  <div class="portfolio_box position-relative">
                    <div class="portfolio_image_wrapper">
                      <figure class="mb-0 w-300" style="height: 300px; overflow: hidden;">
                        <img src="<%= projectdata[i].image %>" alt="" style="width: 100%; height: 100%;">
                      </figure>
          
                      <div class="overlay bottom-overlay">
                        <div class="box_hover_effect">
                          <a href="/projects">
                            <figure class="mb-0">
                              <img src="/assets-u/images/portfolio_box_hover.png" alt="" class="img-fluid">
                            </figure>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="portfolio_box_content">
                      <span><%= projectdata[i].title %></span>
                      <p class="mb-0"><%= projectdata[i].description.split(' ').slice(0, 10).join(' ') %></p>
                    </div>
                    <figure class="left_circle_shape mb-0 position-absolute shape_2">
                      <img src="/assets-u/images/portfolio_box_left_shape.png" alt="" class="img-fluid">
                    </figure>
                  </div>
                </div>
              <% } %>
            <% } else { %>
              <div class="col-12 text-center">
                <p style="color: red ;">Add Miniumum 3 Data</p>
              </div>
            <% } %>
          </div>
          
         <div class="btn_wrapper">
            <a class="text-decoration-none default-btn hover-effect readmore_btn" href="/projects">View All<i class="fa-thin fa-arrow-right-long"></i></a>
        </div>
        <figure class="left_shape mb-0 position-absolute shape">
            <img src="/assets-u/images/portfolio_left_shape.png" alt="" class="img-fluid">
        </figure>
    </div>
</section>
<!-- WHO WE ARE SECTION -->
<section class="who_we_are_section" id="digital_brands">
    <div class="container">
        <figure class="mb-0 who_we_are_background">
            <img src="/assets-u/images/who_we_are_background.jpg" alt="" class="img-fluid">
        </figure>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12" data-aos="fade-right">
                <div class="heading" data-aos="fade-right">
                    <div class="line_wrapper position-relative">
                        <h6>Our History</h6>
                        <h2>Better Website Means A Better   User Experience</h2>
                        <figure class="mb-0 position-absolute">
                            <img src="/assets-u/images/red_line.png" alt="" class="img-fluid">
                        </figure>
                    </div>
                    <p class="text-size-16">A well-crafted website fosters an improved user experience, leading to greater engagement and satisfaction for visitors.</p>
                </div>
                <div class="box_wrapper">
                    <div class="box box1 mb-sm-0">
                        <figure>
                            <img src="/assets-u/images/who_we_are_1.png" alt="" class="img-fluid">
                        </figure>
                        <h5>Creative Strategy</h5>
                        <p class="text-size-16 mb-0">Our creative strategy fuels visionary solutions, driving your brand towards boundless growth...</p>
                    </div>
                    <div class="box box_2 mb-0 mr-0">
                        <figure>
                            <img src="/assets-u/images/who_we_are_2.png" alt="" class="img-fluid">
                        </figure>
                        <h5>Unique Production</h5>
                        <p class="text-size-16 mb-0">Our approach to unique production yields products that stand out, making a lasting impact...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="right_images position-relative">
                    <figure class="mb-0 right_shape1 position-absolute shape">
                        <img src="/assets-u/images/who_we_are_right_shape1.png" alt="" class="img-fluid">
                    </figure>
                    <figure class="mb-0 right_shape2 position-absolute shape_2">
                        <img src="/assets-u/images/who_we_are_right_shape2.png" alt="" class="img-fluid">
                    </figure>
                </div>
            </div>
        </div>
     
        <figure class="mb-0 right_shape3 position-absolute">
            <img src="/assets-u/images/who_we_are_right_shape3.png" alt="" class="img-fluid">
        </figure>
    </div>
</section>
<!-- TESTIMONIALS SECTION -->
<section class="testimonials-section position-relative" id="testimonials">
    <div class="container">
        <figure class="mb-0 bottom_shape position-absolute shape_2">
            <img src="/assets-u/images/testimonials_bottom_shape.png" alt="" class="img-fluid">
        </figure>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="heading position-relative text-center">
                    <h6>Testimonials</h6>
                    <h2>What Our Cutomers are Saying About us</h2>
                    <figure class="mb-0 position-absolute">
                        <img src="/assets-u/images/red_line.png" alt="" class="img-fluid">
                    </figure>
                </div>
            </div>
        </div>
        <div class="row position-relative" data-aos="fade-up">
            <figure class="mb-0 left_shape position-absolute shape">
                <img src="/assets-u/images/testimonials_left_shape.png" alt="" class="img-fluid">
            </figure>
            <figure class="mb-0 right_shape position-absolute shape">
                <img src="/assets-u/images/testimonials_right_shape.png" alt="" class="img-fluid">
            </figure>
            <div class="owl-carousel owl-theme">
                <div class="item" >
                    <div class="testimonial-box float-left w-100 " >
                        <ul class="list-unstyled">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <p>
                            I want to give special recognition to Cyenosure for all the planning, guidance, and hard work in migrating
                             our site email server to Office 365 cloud email</p>
                        <div class="info position-relative">
                            <div class="image_wrapper">
                                
                            </div>
                            <div class="designation-outer">
                                <p class="name mb-0">Akhilesh S Nair</p>
                                <p class="designation mb-0">Founder of chameleon creation</p>
                            </div>
                            <figure class="quote-img position-absolute mb-0">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-box float-left w-100" >
                        <ul class="list-unstyled">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <p>The team was courteous,prompt and professional cyenosure engineers always deliver</p>
                        <div class="info position-relative">
                            <div class="image_wrapper">
                                
                            </div>
                            <div class="designation-outer">
                                <p class="name mb-0">Dr.Jinish</p>
                                <p class="designation mb-0">Founder of Divine Dental Clinic</p>
                            </div>
                            <figure class="quote-img position-absolute mb-0">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-box float-left w-100" >
                        <ul class="list-unstyled">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <p>We precisely needed "Cyenosure" - as an extension of our software department. They are all sleeves rolled 
                            up to tackle each challenge and opportunity as it rises, and we could only have gotten through our move or
                             server migration with them</p>
                        <div class="info position-relative">
                            <div class="image_wrapper">
                             
                            </div>
                            <div class="designation-outer">
                                <p class="name mb-0">Usman</p>
                                <p class="designation mb-0">Founder of Cargo Track & Courier Service</p>
                            </div>
                            <figure class="quote-img position-absolute mb-0">
                            
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-box float-left w-100" >
                        <ul class="list-unstyled">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <p>excelent service , quick response , efficent trouble shooting and resolution with full explanation of the problem</p>
                        <div class="info position-relative">
                            <div class="image_wrapper">
                               
                            </div>
                            <div class="designation-outer">
                                <p class="name mb-0">Noujas</p>
                                <p class="designation mb-0">Founder of Best Express Cargo Dubai</p>
                            </div>
                            <figure class="quote-img position-absolute mb-0">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-box float-left w-100"  >
                        <ul class="list-unstyled">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <p>
                            I want to give special recognition to Cyenosure for all the planning, guidance, and hard work in migrating
                             our site email server to Office 365 cloud email</p>
                        <div class="info position-relative">
                            <div class="image_wrapper">
                              
                            </div>
                            <div class="designation-outer">
                                <p class="name mb-0">Akhilesh S Nair</p>
                                <p class="designation mb-0">Founder of chameleon creation</p>
                            </div>
                            <figure class="quote-img position-absolute mb-0">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-box float-left w-100"  >
                        <ul class="list-unstyled">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <p>The team was courteous,prompt and professional cyenosure engineers always deliver</p>
                        <div class="info position-relative">
                            <div class="image_wrapper">
                               
                            </div>
                            <div class="designation-outer">
                                <p class="name mb-0">Dr.Jinish</p>
                                <p class="designation mb-0">Founder of Divine Dental Clinic</p>
                            </div>
                            <figure class="quote-img position-absolute mb-0">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="item" >
                    <div class="testimonial-box float-left w-100" >
                        <ul class="list-unstyled">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <p>We precisely needed "Cyenosure" - as an extension of our software department. They are all sleeves rolled 
                            up to tackle each challenge and opportunity as it rises, and we could only have gotten through our move or
                             server migration with them</p>
                        <div class="info position-relative">
                            <div class="image_wrapper">
                           
                            </div>
                            <div class="designation-outer">
                                <p class="name mb-0">Usman</p>
                                <p class="designation mb-0">Founder of Cargo Track & Courier Service</p>
                            </div>
                            <figure class="quote-img position-absolute mb-0">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-box float-left w-100" >
                        <ul class="list-unstyled">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <p>excelent service , quick response , efficent trouble shooting and resolution with full explanation of the problem</p>
                        <div class="info position-relative">
                            <div class="image_wrapper">
                               
                            </div>
                            <div class="designation-outer">
                                <p class="name mb-0">Noujas</p>
                                <p class="designation mb-0">Founder of Best Express Cargo Dubai</p>
                            </div>
                            <figure class="quote-img position-absolute mb-0">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 
<!--clients-->
<section class="our_staff_section">
    <div class="container">
        <figure class="mb-0 staff_background">
            <img src="/assets-u/images/our_staff_background.jpg" alt="" class="img-fluid">
        </figure>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="heading position-relative text-center">
                    <h6>Our Clients</h6>
                    <h2>We are Working With</h2>
                    <figure class="mb-0 position-absolute">
                        <img src="/assets-u/images/red_line.png" alt="" class="img-fluid">
                    </figure>
                </div>
            </div>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="owl-carousel owl-theme">
                <% if (clientdatas) { %>
                    <% for (let i = 0; i < clientdatas.length; i++) { %>
                        <% let currentdata = clientdatas[i]; %>
                        <div class="item">
                            <div class="staff_box text-center">
                                <div class="image_wrapper position-relative">
                                    <figure class="mb-0 w-100 h-100">
                                        <img src="<%= currentdata.image %>" alt="" style="height: 100px; width: 290px; object-fit: cover;">
                                    </figure>
                                    <div class="icons float-left d-table">
                                        <!-- ... Your social media icons ... -->
                                    </div>
                                </div>
                                <a class="text-decoration-none">
                                    <!-- <h5 class="mb-0">Baen James</h5> -->
                                    <p class="mb-0 text-size-16"><%= currentdata.name %></p>
                                </a>
                            </div>
                        </div>
                    <%}%>
                 
                <%}%>
            </div>
            
        </div>
    </div>
</section>


<!-- CONTACT SECTION -->
<section class="contact-section position-relative">
    <div class="container">
        <figure class="right_shape mb-0 position-absolute shape">
            <img src="/assets-u/images/contact_us_right_shape.png" alt="" class="img-fluid">
        </figure>
        <div class="row contact_box position-relative">
            <figure class="left_shape mb-0 position-absolute shape_2">
                <img src="/assets-u/images/contact_us_left_shape.png" alt="" class="img-fluid">
            </figure>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 pr-lg-0 pr-md-0 pr-auto">
                <figure class="left_image mb-0">
                    <img src="/assets-u/images/contact_us_left_image.jpg" alt="" class="img-fluid">
                </figure>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 pl-lg-0 pl-auto">
                <div class="contact_right_content">
                    <div class="heading position-relative">
                        <h6 class="text-white">Contact us</h6>
                        <h2 class="text-white">Get in Touch With Us!</h2>
                        <figure class="mb-0 position-absolute">
                            <img src="/assets-u/images/white_line.png" alt="" class="img-fluid" >
                        </figure>
                    </div>
                    <form method="POST" action="admin/contact-form">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Your Name:">
                        </div>
                        <div class="form-group">
                          <input type="email" class="form-control" name="email" id="email" placeholder="Your Email:">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" name="number" id="email" placeholder="Your number:">
                          </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" id="comments" rows="3" placeholder="Message:"></textarea>
                        </div>
                        <button type="submit" class="btn hover-effect">Send Now<i class="fa-thin fa-arrow-right-long"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>